#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

::selection {
  background-color: rgb(51, 37, 54);
  color: rgb(221, 171, 215);
}

.cursor {
  display: inline-block;
  color: transparent;
  animation: cursor-blink 0.7s step-end infinite;
  font-style: normal;
  border-right: 8px solid rgb(196, 86, 174);
  margin-left: -2rem;
}

@keyframes cursor-blink {
  50% {
    opacity: 0;
  }
}

@keyframes backgroundMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background-color: rgb(40, 27, 49);
  color: rgba(65, 9, 9, 0.87);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6, p {
  color: rgba(255, 255, 255, 0.87);
}

a {
  color: rgba(255, 255, 255, 0.87);
}

a:hover {
  color: rgb(167, 110, 35);
}


